<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WebSocket</title>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container box">
  <video id="video" width="auto" height="100%" autoplay loop muted playsinline>
    <source src="/assets/video/chkey.mp4" type="video/mp4">
    <source src="/assets/video/chkey.ogv" type="video/ogv">
    <source src="/assets/video/chkey.webm" type="video/webm">
    <strong>Your browser does not support the video tag.</strong>
  </video>
  <div class="content">
    <h1>ALLOW<br>STRANGER'S<br>ACCESS TO</h1>
    <h2>#NONHUMAN<br>#GUD</h2>
    <div class="container-fluid pt-3 pb-3">
      <b id="btn-toggle" class="btn-toggle"><span>Approve Access</span></b>
    </div>
  </div>
</div>
<script>
  var host = location.hostname;
  var ws = new WebSocket('ws://' + host + ':8000');
  var _isOn = false;
  var $btnToggle = document.getElementById('btn-toggle');
  var $video = document.getElementById('video');
  var $btnToggleSpan = $btnToggle.firstElementChild;
  var sendMessage = function(value) {
    ws.send(value);
  }
  $btnToggle.addEventListener('click', function(e) {
    e.preventDefault();
    _isOn = !_isOn;
    $btnToggleSpan.innerHTML = (_isOn) ? 'Reject Access' : 'Approve Access';
    sendMessage(Number(_isOn));
  });
  ws.onopen = function(e) {
    sendMessage(Number(_isOn));
  }
  ws.onmessage = function(e) {
  }

  $video.controls= false;
  var promise = $video.play();
  if(promise !== undefined) {
    promise.then(() => {
    }).catch(e => {
    });
  }
</script>
</body>
</html>
