@font-face {
  font-family:'dogica';
  src: url(/font/dogica/dogica-webfont.woff) format('woff'),
  url(/font/dogica/dogica.ttf) format('truetype');
}

@font-face {
  font-family:'Syncopate Regular';
  src: url(/font/Syncopate/Syncopate-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'Syncopate Bold';
  src: url(/font/Syncopate/Syncopate-Bold.ttf) format('truetype');
  font-style: normal;
  /* font-stretch: 1% 500%;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

body {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  max-width: 380px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  padding: 25px;
  margin-top: 50px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}



h1{
  margin-top: 1.5vh;
  font-family: dogica;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: 1.8vh;
}

h2{
  font-family: 'Syncopate Bold', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
  margin-bottom: 2vh;
  color: #FFA2E6;
  text-shadow: -0.7px 0  #FFA2E6, 0 0px #FFA2E6, 0.7px 0  #FFA2E6, 0 0px #FFA2E6;
  -moz-text-shadow: -0.7px 0  #FFA2E6, 0 0px #FFA2E6, 0.7px 0  #FFA2E6, 0 0px #FFA2E6;
  -webkit-text-shadow: -0.7px 0  #FFA2E6, 0 0px #FFA2E6, 0.7px 0  #FFA2E6, 0 0px #FFA2E6;

}

.btn-toggle{
  display:inline-block;
  padding:12px 0px 10px;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius:6px;
  color:rgb(255, 255, 255);
  user-select:none;
  -webkit-user-select:none;
  cursor:pointer;

  position: relative;
  width: 100%;
  text-align: center;

  font-family: dogica;
  font-size: 0.75em;

  margin-bottom:1vh;
}

/* .btn-toggle:hover{
  color: #a2ffc4;
  border-color: #a2ffc4;
} */


@media screen and (min-width:320px) and (max-width:768px){
  h1{
    font-size: 0.6em;
    line-height: 1.7em;
    /* color: yellow; */
  }

  h2{
    font-size: 1.5em;
    line-height: 1.15em;
  }

  .btn-toggle{
    font-size: 0.65em;
  }
}

.box {overflow: hidden; margin: 0px auto; position: relative; }
video {height: 100%; position: absolute;top:0;filter: brightness(0.9);}
/* video::after{opacity: 0;} */
